body {
margin: 0;

}
.container{
  margin: 0px 166px;

}
.header {
background-image: url(img/bg.png);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;

}
.header-line{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-logo {
  padding-right: 268px;
}

.nav > a {
color: white;
text-decoration: none;
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-right: 1em;


}
.nav > a:hover {
  color: red;
  transition: color 0.3s linear;
}
.cart > a {
  padding: 25px 25px;
  border-right:1px solid white ;
  margin-right: 27px;;
}
.number > a{
  color: white;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;

}
.phone-text {
  color: white;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  

}
.phone-card {
  display: flex;
}
.phone-img {
  margin-right: 10px;
}
.phone {
  width: 170px;
  /* margin-right: 45px; */
}
/* .btn {
  width: 157px;
  height: 47px;
  background-color:orange;
  display: flex;
  align-items: center;
  


} */
.btn > a {
  
  background-color:#FF7400;
  color: white;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding: 14px 18px;

  
}
.btn >  a:hover {
  background-color: rgb(131, 75, 2);
  transition: background-color 0.3s liner;
}

.header-down {
  position: relative;
 

}
.header-title {
  font-family: 'Tinos', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: center;
  color: #D67E35;
  position: absolute;
  left: 0;
  top:222px;
  
}
.header-subtitle {

  font-family: 'Tinos', serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 92px;
  letter-spacing: 0em;
  text-align: center;

}
.header-suptitle {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  bottom: 21px;
 


}

.header-suptitle::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 61px;
  background-color: #fff;
  top:176px;
  left:88px;

}
.header-suptitle::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 61px;
  background-color: #fff;
  top:176px;
  left:329px;

}
.header-btn { 
  font-family: Open Sans;

  
}
.card {
  box-shadow: 10px 10px 40px 20px #0000001A;
  margin-right: 31px;
  width: 349px;
  justify-content: center;
  margin-top: -80px;
  background-color: #fff;
 

}
.card-img {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.card-title {
  display: flex;
  justify-content: center;
  font-family: Tinos;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom:0.5em;

}
.card-desc{
  text-align: center;
  font-family: Tinos;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color:#656363;

}

.cards-holder {
  display: flex;
  justify-content: space-between;
}
.card-title  span {
  color:#BC9060;
  margin-left: 3px;
}


.left-history {
  width: 424px;
}

.history {
  margin-top: 166px;
  padding-bottom: 200px;
 
}

.history-title{
  font-family: Tinos;
  font-size: 54px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  margin-bottom: 21px;
  
}
.history-title > span {
  color: #D67E34;
}

.history-desc{
  font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;

}

.history-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;


}
.number-item {
 
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  font-size: 40px;
  color: #BC9060;
}
.number-item > span {
  display: block;
  font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color:black;
  
}
.history-holder {
  display: flex;
}
.right-history{
  position: relative;
}
.img1 {
  position: absolute;
  z-index: 0;
  top: 54px;
  left: 211px;
} 
 .img2 {
  position: absolute;
  z-index: 999;
  top: -92px;
  left: 383px;
}
.img3 {
  position: absolute;
  z-index: 999;
  top: 241px;
  left: 40px;
} 

.black-block {
  background-image: url(img/bgblack.png);
  padding: 80px 0;;
  
}
.block-holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left{
  width: 601px;
}
.left-title {
  font-family: Tinos;
  font-size: 52px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #D67E34;

}
.left-text{
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;

}
.dishes-title{
  font-family: Tinos;
font-size: 54px;
font-weight: 400;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
padding-top: 132px;
padding-bottom: 163px;

}

.dishes-title span{
  color: #D67E34;
}

.burgers{
  display: flex;
}


.burgers-image {
  padding-right: 30px;
}
.burger-item{
  padding-bottom: 30px;
  
  display: flex;
  align-items: center;
}
.burger-text{
  padding-left: 30px;
  font-family: Tinos;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
}

.our-menu {
  background-image: url(img/ourmenu);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 150px; */
}
.our-menu-title {
  font-family: Tinos;
  font-size: 54px;
  font-weight: 400;
  line-height: 62px;
  padding-top: 100px;
  text-align: center;
  color: #fff;
  padding-bottom: 180px;
}
.menu-card {
  width: 350px;
  background-color: #fff;
  text-align: center;
  padding-top: 30px;

  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-right: 20px;

}

.img-price {
  display: block;
  margin-left: 120px;
  margin-top: -100px;

}
.img-price > p {
  margin-top: -70px;
  /* margin-left: 25px; */
  font-family: Cookie;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  color: #fff;


}

.menu-title {
  font-family: Tinos;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 20px;

}
.menu-subtitle {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.menu {
  padding-bottom: 226px;
  display: flex;
  
}
.menu-btn {
  box-shadow: 5px 5px 10px 0px #00000040;

}
